.indiCell{
    font-size: 10px;
    color: tomato;
    border: 1px solid black;
    width:70px;
}

.foodNode{
    font-size: 10px;
    color: tomato;
    border: 1px solid black;
    width:70px;
    background-color:green;
}

.checking{
    font-size: 10px;
    color: tomato;
    border: 1px solid black;
    width:70px;
    background-color: black;
}

.indiCell:hover{
    background-color: black;
}